<nav class='navbar navbar-expand navbar-dark bg-dark mb-3 navbar-right'>
  <a class='navbar-brand' href='#'>Favourite Color</a>
  <div class='collapse navbar-collapse'>
    <ul class='navbar-nav align-items-start pr-0 ml-30'>

      <li class='nav-item active'>
        <a class='btn btn-dark text-light' [routerLink]="['/']">Home</a>
      </li>

      <li class='nav-item active'>
        <a class='btn btn-dark text-light' [routerLink]="['/vote-result']">Vote Result</a>
      </li>

    </ul>
  </div>
</nav>